@font-face {
    font-family: Woodwarrior;
    src: url('./fonts/Woodwarrior-Regular.otf');
}
@font-face {
    font-family: Woodwarrior;
    font-weight: bold;
    src: url('./fonts/Woodwarrior-Bold.otf');
}
.logo-header {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;
}
.mini-logo-header {
    width: 30px;
    height: 30px;
    margin-right: 1px;
}
.tittle-header {
    font-size: 12px;
}
.logo-login {
    width: 60px;
    height: 60px;
    margin-top: 90px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -5px;
}
.center-row {
    padding-top: 8%;
}
.login-card {
    height: 400px;
}
.logo-card {
    width: 30%;
}
.login-body {
    overflow: auto;
    position: relative;
}
.login-body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: url("../../backgrounds/valhalla_gates.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1x);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.tittle {
    font-family: Woodwarrior;
    font-size: 20px;
    text-align: center;
}
.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
.btn-new {
    float: right;
    margin-top: -3px;
}
.btn-form {
    width: 50%;
    margin-bottom: 20px;
}
.btn-fill {
    width: 100%;
    margin-bottom: 20px;
}
character-img {
    margin-bottom: -5px;
}
.level {
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    border: 2px solid black;
    font-size: 20px;
    color: #bfbfbf;
    padding: 8px; 
    width: 55px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: #EAEAEA;
    height: 1px;
}
